---
http_interactions:
- request:
    method: post
    uri: https://sandbox.synapsepay.com/api/3/users/5641019d86c273308e8193f1/nodes
    body:
      encoding: UTF-8
      string: '{"type":"ACH-US","info":{"bank_id":"synapse_nomfa","bank_pw":"test1234","bank_name":"fake"}}'
    headers:
      X-Ruby-Version:
      - 2.2.3
      X-Ruby-Platform:
      - x86_64-darwin15
      X-Sp-Gateway:
      - client_id|client_secret
      X-Sp-User:
      - oauth_key|
      X-Sp-User-Ip:
      - ''
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error_code": "0", "http_code": "200", "nodes": [{"_id": "56786c2b86c2731223019933",
        "_links": {"self": {"href": "https://sandbox.synapsepay.com/api/3/users/5641019d86c273308e8193f1/nodes/56786c2b86c2731223019933"}},
        "allowed": "CREDIT-AND-DEBIT", "extra": {"supp_id": null}, "info": {"account_num":
        "8901", "balance": {"amount": "10000.00", "currency": "USD"}, "bank_long_name":
        "ING DIRECT", "bank_name": "fake", "class": "CHECKING", "name_on_account":
        "John Smith", "nickname": "SynapsePay Test Checking Account", "routing_num":
        "6110", "type": "PERSONAL"}, "is_active": true, "type": "ACH-US"}, {"_id":
        "56786c2b86c2731223019934", "_links": {"self": {"href": "https://sandbox.synapsepay.com/api/3/users/5641019d86c273308e8193f1/nodes/56786c2b86c2731223019934"}},
        "allowed": "CREDIT-AND-DEBIT", "extra": {"supp_id": null}, "info": {"account_num":
        "8902", "balance": {"amount": "10000.00", "currency": "USD"}, "bank_long_name":
        "ING DIRECT", "bank_name": "fake", "class": "SAVINGS", "name_on_account":
        "John Smith", "nickname": "SynapsePay Test Savings Account", "routing_num":
        "6110", "type": "PERSONAL"}, "is_active": true, "type": "ACH-US"}], "success":
        true}'
  recorded_at: Mon, 21 Dec 2015 23:47:06 GMT
recorded_with: VCR 2.9.3
