---
http_interactions:
- request:
    method: delete
    uri: https://sandbox.synapsepay.com/api/3/users/5641019d86c273308e8193f1/nodes/5646308786c2731057b4c3b7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Ruby-Version:
      - 2.2.3
      X-Ruby-Platform:
      - x86_64-darwin15
      X-Sp-Gateway:
      - client_id|client_secret
      X-Sp-User:
      - oauth_key|
      X-Sp-User-Ip:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error_code": "0", "http_code": "200", "message": {"en": "Node removed"},
        "success": true}'
  recorded_at: Fri, 13 Nov 2015 18:50:08 GMT
recorded_with: VCR 2.9.3
