---
http_interactions:
- request:
    method: post
    uri: https://sandbox.synapsepay.com/api/3/users/5641019d86c273308e8193f1/nodes
    body:
      encoding: UTF-8
      string: '{"type":"ACH-US","info":{"nickname":"John Doe","name_on_account":"John
        Doe","account_num":"123456786","routing_num":"051000017","type":"PERSONAL","class":"CHECKING"},"extra":{"supp_id":null}}'
    headers:
      X-Ruby-Version:
      - 2.2.3
      X-Ruby-Platform:
      - x86_64-darwin15
      X-Sp-Gateway:
      - client_id|client_secret
      X-Sp-User:
      - oauth_key|
      X-Sp-User-Ip:
      - ''
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error_code": "0", "http_code": "200", "nodes": [{"_id": "56462b9f86c273105a06b836",
        "_links": {"self": {"href": "https://sandbox.synapsepay.com/api/3/users/5641019d86c273308e8193f1/nodes/56462b9f86c273105a06b836"}},
        "allowed": "CREDIT-AND-DEBIT", "extra": {"supp_id": "None"}, "info": {"account_num":
        "6786", "bank_long_name": "BANK OF AMERICA, N.A.", "class": "CHECKING", "name_on_account":
        "John Doe", "nickname": "John Doe", "routing_num": "0017", "type": "PERSONAL"},
        "is_active": true, "type": "ACH-US"}], "success": true}'
  recorded_at: Fri, 13 Nov 2015 18:29:56 GMT
recorded_with: VCR 2.9.3
