---
http_interactions:
- request:
    method: post
    uri: https://sandbox.synapsepay.com/api/3/oauth/5641019d86c273308e8193f1
    body:
      encoding: UTF-8
      string: '{"refresh_token":"refresh-95452209-3b1c-4165-a4a2-021ee96cdd32"}'
    headers:
      X-Ruby-Version:
      - 2.2.3
      X-Ruby-Platform:
      - x86_64-darwin15
      X-Sp-Gateway:
      - client_id|client_secret
      X-Sp-User:
      - "|"
      X-Sp-User-Ip:
      - ''
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"expires_at": "1447445562", "expires_in": "7200", "oauth_key": "oauth_key",
        "refresh_expires_in": 12, "refresh_token": "refresh-95452209-3b1c-4165-a4a2-021ee96cdd32"}'
  recorded_at: Fri, 13 Nov 2015 18:12:42 GMT
recorded_with: VCR 2.9.3
