---
http_interactions:
- request:
    method: get
    uri: https://sandbox.synapsepay.com/api/3/subscriptions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Ruby-Version:
      - 2.2.3
      X-Ruby-Platform:
      - x86_64-darwin15
      X-Sp-Gateway:
      - client_id|client_secret
      X-Sp-User:
      - "|"
      X-Sp-User-Ip:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error_code": "0", "http_code": "200", "page": 1, "page_count": 1,
        "subscriptions": [{"_id": "569596e286c27360f39109b9", "_links": {"self": {"href":
        "https://sandbox.synapsepay.com/api/3/subscriptions/569596e286c27360f39109b9"}},
        "client": {"id": 123, "name": "Test Sandbox"}, "is_active": true, "scope":
        ["USERS|PATCH"], "url": "http://requestb.in/15zo81v1"}, {"_id": "5695989386c27360f39109c0",
        "_links": {"self": {"href": "https://sandbox.synapsepay.com/api/3/subscriptions/5695989386c27360f39109c0"}},
        "client": {"id": 123, "name": "Test Sandbox"}, "is_active": true, "scope":
        ["USERS|PATCH"], "url": "http://requestb.in/15zo81v1"}, {"_id": "569598e386c2735eb05f9019",
        "_links": {"self": {"href": "https://sandbox.synapsepay.com/api/3/subscriptions/569598e386c2735eb05f9019"}},
        "clien[...]
