---
http_interactions:
- request:
    method: patch
    uri: https://sandbox.synapsepay.com/api/3/subscriptions/56959cfa86c273618a4532a3
    body:
      encoding: UTF-8
      string: '{"is_active":false,"url":"http://requestb.in/15zo81v1","scope":[]}'
    headers:
      X-Ruby-Version:
      - 2.2.3
      X-Ruby-Platform:
      - x86_64-darwin15
      X-Sp-Gateway:
      - client_id|client_secret
      X-Sp-User:
      - "|"
      X-Sp-User-Ip:
      - ''
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"_id": "56959cfa86c273618a4532a3", "_links": {"self": {"href": "https://sandbox.synapsepay.com/api/3/subscriptions/56959cfa86c273618a4532a3"}},
        "client": {"id": 123, "name": "Test Sandbox"}, "is_active": false,
        "scope": [], "url": "http://requestb.in/15zo81v1"}'
  recorded_at: Wed, 13 Jan 2016 00:40:25 GMT
recorded_with: VCR 3.0.1
