---
http_interactions:
- request:
    method: post
    uri: https://sandbox.synapsepay.com/api/3/users/5641019d86c273308e8193f1/nodes/5646320d86c273105de9ca3c/trans
    body:
      encoding: UTF-8
      string: '{"to":{"type":"SYNAPSE-US","id":"5646320d86c273103d49a972"},"amount":{"amount":24.0,"currency":"USD"},"extra":{"ip":"192.168.0.1"}}'
    headers:
      X-Ruby-Version:
      - 2.2.3
      X-Ruby-Platform:
      - x86_64-darwin15
      X-Sp-Gateway:
      - client_id|client_secret
      X-Sp-User:
      - oauth_key|
      X-Sp-User-Ip:
      - ''
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_id": "5646320e86c2731033a29afd", "_links": {"self": {"href": "https://sandbox.synapsepay.com/api/3/users/5641019d86c273308e8193f1/nodes/5646320d86c273105de9ca3c/trans/5646320e86c2731033a29afd"}},
        "amount": {"amount": 24.0, "currency": "USD"}, "client": {"id": 1231, "name":
        "Jackpocket Sandbox"}, "extra": {"created_on": 1447440910212, "ip": "192.168.0.1",
        "latlon": "0,0", "note": "", "other": {}, "process_on": 1447440910212, "supp_id":
        "", "webhook": ""}, "fees": [{"fee": 0.2, "note": "Synapse Facilitator Fee",
        "to": {"id": "559339aa86c273605ccd35df"}}], "from": {"id": "5646320d86c273105de9ca3c",
        "nickname": "My Integration Test Synapse Wallet", "type": "SYNAPSE-US", "user":
        {"_id": "5641019d86c273308e8193f1", "legal_names": ["Javier Julio"]}}, "recent_status":
        {"date": 1447440910212, "note": "Transaction created", "status": "CREATED",
        "status_id": "1"}, "timeline": [{"date": 1447440910212, "note": "Transaction
        created", "status": "CREATED", "status_id": "1"}], "to": {"id": "5646320d86c273103d49a972",
        "nickname": "My Second Integration Test Synapse Wallet", "type": "SYNAPSE-US",
        "user": {"_id": "5641019d86c273308e8193f1", "legal_names": ["Javier Julio"]}}}'
  recorded_at: Fri, 13 Nov 2015 18:55:10 GMT
recorded_with: VCR 2.9.3
