---
http_interactions:
- request:
    method: patch
    uri: https://sandbox.synapsepay.com/api/3/users/5641019d86c273308e8193f1
    body:
      encoding: UTF-8
      string: '{"doc":{"question_set_id":"557520ad343463000300005a","answers":[{"question_id":1,"answer_id":1},{"question_id":2,"answer_id":1},{"question_id":3,"answer_id":1},{"question_id":4,"answer_id":1},{"question_id":5,"answer_id":1}]}}'
    headers:
      X-Ruby-Version:
      - 2.2.3
      X-Ruby-Platform:
      - x86_64-darwin15
      X-Sp-Gateway:
      - client_id|client_secret
      X-Sp-User:
      - oauth_key|
      X-Sp-User-Ip:
      - ''
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_id": "5641019d86c273308e8193f1", "_links": {"self": {"href": "https://sandbox.synapsepay.com/api/3/users/5641019d86c273308e8193f1"}},
        "client": {"id": 123, "name": "Test Sandbox"}, "doc_status": {"physical_doc":
        "MISSING|INVALID", "virtual_doc": "SUBMITTED|INVALID"}, "extra": {"date_joined":
        1447100829635, "extra_security": true, "is_business": false, "supp_id": "123"},
        "is_hidden": false, "legal_names": ["Javier Julio"], "logins": [{"email":
        "test@example.com", "read_only": false}], "permission": "RECEIVE", "phone_numbers":
        ["646-123-4567"], "photos": [], "refresh_token": "refresh-95452209-3b1c-4165-a4a2-021ee96cdd32"}'
  recorded_at: Fri, 13 Nov 2015 18:25:05 GMT
recorded_with: VCR 2.9.3
