---
http_interactions:
- request:
    method: patch
    uri: https://sandbox.synapsepay.com/api/3/users/5641019d86c273308e8193f1
    body:
      encoding: UTF-8
      string: '{"doc":{"birth_day":14,"birth_month":3,"birth_year":1970,"name_first":"John","name_last":"Doe","address_street1":"1
        Infinite Loop","address_postal_code":"95014","address_country_code":"US","document_type":"SSN","document_value":"1111"}}'
    headers:
      X-Ruby-Version:
      - 2.2.3
      X-Ruby-Platform:
      - x86_64-darwin15
      X-Sp-Gateway:
      - client_id|client_secret
      X-Sp-User:
      - oauth_key|
      X-Sp-User-Ip:
      - ''
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"en": "Unable to verify document information. Please submit
        a valid copy of passport/driver''s license."}, "error_code": "400", "http_code":
        "409", "success": false}'
  recorded_at: Fri, 13 Nov 2015 18:18:44 GMT
recorded_with: VCR 2.9.3
